.serviceProductWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-gap: 20px;
}
.srvImage {
  height: 75px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.serviceProductWrap img {
  width: 75px;
}
.serviceProductDes {
  text-align: center;
  border-color: #02b989;
  border-right-style: solid;
  display: flex;
  flex-direction: column;
  grid-gap: 20px;
}
.serviceProductDes h5 {
  color: #fff;
  font-weight: bold;
  font-size: 12px;
}
.serviceProductDes p {
  color: #ffff;
  line-height: 17px;
}
.serviceProductWrap:nth-child(4n) .serviceProductDes {
  border-right: none !important;
  border-bottom: none !important;
}

.heading_1 {
  width: 100%;
  text-align: center;
}
.heading_1 h2 {
  font-size: 50px;
  color: #fff;
  position: relative;
}
.heading_1 h2::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 58%;
  height: 2px;
  background: #02b989;
}
