.viewbtn {
  border: 1px solid #c1e6e5;
  background-color: #c1e6e5;
  color: black;
  padding: 3px 26px;
  font-weight: 500;
}
.dwnldbtn {
  border: 1px solid #c1e6e5;
  background-color: #c1e6e5;
  color: black;
  padding: 3px 9px;
  font-weight: 500;
  float: right;
}

.img-bag-2 {
  aspect-ratio: 4/3;
  border-radius: 7px;
  height: 100%;
  width: 100%;
  gap: 10px;
}

.viewButton {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}